{{> header }}
<section>
	<div class="section1">
		<div class="video_box">
			<p>시원한 바닷가로<br>떠나 보실까요?</p>
			<div class="pattern">
				<img src="/img/pattern.png">
			</div>
			<div class="video_color"></div>
			<video autoplay loop>
				<source src="/img/pensionvideo2.mp4">
			</video>
		</div>
	</div>
	<div class="section2">
		<div class="title">
			<p>New building &amp; Remodeling</p>
			<p>2016년 신축펜션 &amp; 리모델링</p>
			<div class="line"></div>
		</div>
		<div class="section_sub">
		</div>
	</div>
	<div class="section3">
		<div class="title">
			<p>Hot Theme</p>
			<p>내가 원하는 테마의 펜션만 모아모아!!</p>
			<div class="line"></div>
		</div>
		<div class="section_sub">
			<div class="box1 box">
				<div class="box_in box_in1">
					<a href="/themesubfx.html">
						<img src="/img/1.jpg">
						<div class="box_hover3">
							<div class="hover_txt3">
								<div class="hot_icon">
									<img src="/img/hot1.png">
								</div>
								<p class="txt2">개인 전용 풀빌라펜션</p>
							</div>
						</div>
					</a>
				</div>
				<div class="box_in box_in2">
					<a href="/themesubfw.html">
						<img src="/img/2.jpg">
						<div class="box_hover3">
							<div class="hover_txt3">
								<div class="hot_icon">
									<img src="/img/hot5.png">
								</div>
								<p class="txt2">따뜻한 스파 펜션</p>
							</div>
						</div>
					</a>
				</div>
				<div class="box_in box_in3">
					<a href="/themesubfe.html">
						<img src="/img/3.jpg">
						<div class="box_hover3">
							<div class="hover_txt3">
								<div class="hot_icon">
									<img src="/img/hot6.png">
								</div>
								<p class="txt2">시원한 오션뷰 펜션</p>
							</div>
						</div>
					</a>
				</div>
				<div class="box_in box_in4">
					<a href="/themesubfb.html">
						<img src="/img/4.jpg">
						<div class="box_hover3">
							<div class="hover_txt3">
								<div class="hot_icon">
									<img src="/img/hot7.png">
								</div>
								<p class="txt2">워크샵 단체 펜션</p>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="section4">
		<div class="title">
			<p>Pension Choice</p>
			<p>당신을 위한 최고의 펜션</p>
			<div class="line"></div>
		</div>
		<div class="section_sub">
		</div>
	</div>
	<div class="section5">
		<div class="title">
			<p>Helicam</p>
			<p>주변 시설까지 한눈에 보기</p>
			<div class="line"></div>
		</div>
		<div class="section_sub">
			<div class="box1 box">
			</div>
		</div>
	</div>
	<div class="section6">
		<div class="title">
			<p>KOREA Top 12</p>
			<p>내가 원하는 테마의 펜션만 모아모아!!</p>
			<div class="line"></div>
		</div>
		<div class="section_sub">
		</div>
	</div>
</section>
{{> footer }}
