{{> header cssName='map'}}
<section>
	<div class="section1">
		<div class="map_box">
			<div class="list_section">
				<div class="map_menu">
					<ul>
						<li>전체</li>
						<li>가볼만한 곳</li>
						<li>숙박</li>
					</ul>
				</div>
				<div class="map_area">
					<ul>
						<li>
							<select class="region_label">
								<option label="경기"></option>
								<option disabled>------------</option>
								<option>인천</option>
								<option disabled>------------</option>
								<option>충청</option>
								<option disabled>------------</option>
								<option>전라</option>
								<option disabled>------------</option>
								<option>경상</option>
							</select>
						</li>
						<li>
							<select class="region_label2">
								<option label="가평군"></option>
							</select>
						</li>
					</ul>
				</div>
				<div class="list_box">
					<ul>
						<li>
							<div class="list" data-name="가평아이리스">
								<img src="/img/map_iconP.png">
								<p>가평아이리스</p>
							</div>
						</li>
						<li>
							<div class="list" data-name="까사베르디">
								<img src="/img/map_iconP.png">
								<p>까사베르디</p>
							</div>
						</li>
						<li>
							<div class="list" data-name="꽃무지풀무지">
								<img src="/img/map_iconB.png">
								<p>꽃무지풀무지</p>
							</div>
						</li>
						<li>
							<div class="list" data-name="남이스카이라인">
								<img src="/img/map_iconB.png">
								<p>남이 스카이라인</p>
							</div>
						</li>
						<li>
							<div class="list" data-name="남이섬">
								<img src="/img/map_iconB.png">
								<p>남이섬</p>
							</div>
						</li>
						<li>
							<div class="list" data-name="남이섬포시즌펜션">
								<img src="/img/map_iconP.png">
								<p>남이섬포시즌펜션</p>
							</div>
						</li>
						<li>
							<div class="list" data-name="놀이터수상레저">
								<img src="/img/map_iconB.png">
								<p>놀이터수상레저</p>
							</div>
						</li>
						<li>
							<div class="list" data-name="뉴돌고래수상레저">
								<img src="/img/map_iconB.png">
								<p>뉴돌고래수상레저</p>
							</div>
						</li>
						<li>
							<div class="list" data-name="대성리국민관광지">
								<img src="/img/map_iconB.png">
								<p>대성리 국민관광지</p>
							</div>
						</li>
						<li>
							<div class="list" data-name="더모스트펜션">
								<img src="/img/map_iconP.png">
								<p>더모스트펜션</p>
							</div>
						</li>
						<li>
							<div class="list" data-name="디오르펜션">
								<img src="/img/map_iconP.png">
								<p>디오르펜션</p>
							</div>
						</li>
						<li>
							<div class="list" data-name="룰루랄라수상레져">
								<img src="/img/map_iconB.png">
								<p>룰루랄라 수상레져</p>
							</div>
						</li>
						<li>
							<div class="list" data-name="마린보이리조트">
								<img src="/img/map_iconB.png">
								<p>마린보이 리조트</p>
							</div>
						</li>
						<li>
							<div class="list" data-name="말리부수상레져">
								<img src="/img/map_iconB.png">
								<p>말리부수상레져</p>
							</div>
						</li>
						<li>
							<div class="list" data-name="명지계곡">
								<img src="/img/map_iconB.png">
								<p>명지계곡</p>
							</div>
						</li>
						<li>
							<div class="list" data-name="명지산군립공원">
								<img src="/img/map_iconB.png">
								<p>명지산군립공원</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="map">
				<div class="map_popup" data-name="가평아이리스">
					<p class="close">창닫기</p>
					<img src="/img/189499_m.jpg" align="center">
					<div class="popup_info">
						<p class="popup_title">가평아이리스</p>
						<p>연락처:010-9617-0107, 031-581-0108</p>
						<p>객실시설:테라스바베큐,스파&월풀,풀빌라,</p>
						<p>편의시설:와이파이,수영장</p>
						<p>테마:</p>
					</div>
					<div class="popup_btn">
						<a href="/" target="_blank">홈페이지</a>
					</div>
				</div>
				<div class="map_popup" data-name="까사베르디">
					<p class="close">창닫기</p>
					<img src="/img/712357_m.jpg" align="center">
					<div class="popup_info">
						<p class="popup_title">까사베르디</p>
						<p>연락처:010-7901-6387</p>
						<p>객실시설:스파&월풀</p>
						<p>편의시설:와이파이,수영장</p>
						<p>테마:계곡</p>
					</div>
					<div class="popup_btn">
						<a href="/" target="_blank">홈페이지</a>
					</div>
				</div>
				<div class="map_popup" data-name="꽃무지풀무지">
					<p class="close">창닫기</p>
					<img src="/img/389658.jpg" align="center">
					<div class="popup_info">
						<p class="popup_title">꽃무지풀무지</p>
						<p>연락처:031-585-4874~5</p>
						<p>홈페이지:http://www.mujimuji.co.kr</p>
						<p>휴무일:</p>
						<p>영업시간:하절기(4~11월)08:00~19:00,동절기(12~3월)09:00~17:00</p>
					</div>
					<div class="popup_btn">
						<a href="/" target="_blank">홈페이지</a>
					</div>
				</div>
				<section id="map">
				</section>
			</div>
		</div>
	</div>
</section>
{{> footer jsName='map'}}
