{{> header }}
<link rel="stylesheet" href="css/pensioninfo.css">
<section>
	<div class="pension_name">
		<p>모아이</p>
		<p>아침고요수목원 인근 복층 풀빌라펜션</p>
	</div>
	<div class="pension_photo_box">
		<div class="fullsize_photo">
			<div class="pension_photo">
				<img src="/img/moai_img1.jpg">
			</div>
		</div>
	</div>
	<ul class="fixmenu">
		<li>
			<a href="http://www.moaiyellow.com" target="_blank">홈페이지 바로가기</a>
		</li>

		<li>
			<a href="http://moai.mstay.co.kr/m_member" target="_blank">예약하기</a>
		</li>
	</ul>
	<div class="pension_info">
		<ul class="pension_addr">
			<li>펜션정보</li>
			<li>지번주소 : 경기 가평군 상면 행현리 439-3 439-3</li>
			<li>새주소 : 경기 가평군 상면 수목원로164번길 29 </li>
			<li>연락처 : 010-7299-8855</li>
			<li>입실/퇴실 : 15:00 / 11:00</li>
			<li>홈페이지 : http://www.moaiyellow.com/</li>
		</ul>
		<ul class="pension_room_info">
			<li>객실내시설</li>
			<li>테라스바베큐</li>
			<li>스파&월풀</li>
			<li>풀빌라</li>
			<li></li>
			<li></li>
		</ul>
		<ul class="pension_option">
			<li>부대시설</li>
			<li>와이파이</li>
			<li>수영장</li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		<ul class="pension_area">
			<li>주변정보</li>
			<li>계곡</li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		</div>
	</div>
	<div class="pension_location">
		<p>펜션위치</p>
		<section id="map"></section>
	</div>
	<div class="pension_blog">
		<p>블로그 후기</p>
	</div>
</section>
{{> footer jsName='pensioninfo'}}
