{{> header cssName='themesubfe'}}
<section>
	<div class="section1">
		<div class="main">
			<img src="/img/theme_FB.jpg">
		</div>
		<div class="region_box">
			<ul>
				<li>전체(21)</li>
				<li>경기(12)</li>
				<li>인천(0)</li>
				<li>강원(0)</li>
				<li>충청(0)</li>
				<li>전라(2)</li>
				<li>경상(7)</li>
				<li>제주(0)</li>
			</ul>
		</div>
		<div class="section2">
			<div class="pension_sub">
				<ul>
					<li>
						<a href="/pensioninfo.html">
							<img class="pension_img" src="/img/111146.jpg">
							<img class="box_cover" src="/img/box_cover.png">
						</a>
						<div class="txt_box">
							<p>미리내펜션</p>
							<p>전라, 무주군</p>
						</div>
						<div class="box_hover">
							<div class="hover_txt">
								<p>[무주군] 미리내펜션</p>
								<p>전북 무주군 설천면 보안길 13</p>
							</div>
						</div>
					</li>
					<li>
						<a href="">
							<img class="pension_img" src="/img/713626.jpg">
							<img class="box_cover" src="/img/box_cover.png">
						</a>
						<div class="txt_box">
							<p>디오르펜션</p>
							<p>경기, 가평군</p>
						</div>
						<div class="box_hover">
							<div class="hover_txt">
								<p>[가평군] 디오르펜션</p>
								<p>경기 가평군 상면 수목원로 279-85</p>
							</div>
						</div>
					</li>
					<li>
						<a href="">
							<img class="pension_img" src="/img/670665.jpg">
							<img class="box_cover" src="/img/box_cover.png">
						</a>
						<div class="txt_box">
							<p>스타마린펜션</p>
							<p>경상, 거제시</p>
						</div>
						<div class="box_hover">
							<div class="hover_txt">
								<p>[거제시] 스타마린펜션</p>
								<p>경남 거제시 일운면 거제대로 1746-2</p>
							</div>
						</div>
					</li>
					<li>
						<a href="">
							<img class="pension_img" src="/img/190260.jpg">
							<img class="box_cover" src="/img/box_cover.png">
						</a>
						<div class="txt_box">
							<p>실라마실펜션</p>
							<p>경상, 경주시</p>
						</div>
					</li>
					<li>
						<a href="">
							<img class="pension_img" src="/img/328970.jpg">
							<img class="box_cover" src="/img/box_cover.png">
						</a>
						<div class="txt_box">
							<p>라테라스리조트</p>
							<p>전라, 여수시</p>
						</div>
					</li>
					<li>
						<a href="">
							<img class="pension_img" src="/img/637047.jpg">
							<img class="box_cover" src="/img/box_cover.png">
						</a>
						<div class="txt_box">
							<p>첼로와거문고</p>
							<p>경기, 양평군</p>
						</div>
					</li>
					<li>
						<a href="">
							<img class="pension_img" src="/img/862313.jpg">
							<img class="box_cover" src="/img/box_cover.png">
						</a>
						<div class="txt_box">
							<p>풀빌라 우노하우스</p>
							<p>경기, 양평군</p>
						</div>
					</li>
					<li>
						<a href="">
							<img class="pension_img" src="/img/964762.jpg">
							<img class="box_cover" src="/img/box_cover.png">
						</a>
						<div class="txt_box">
							<p>쉐이리풀빌라 코타키나</p>
							<p>경상, 통영시</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

</section>
{{> footer jsName='themesubfe'}}
