{{> header cssName='themesubfe'}}
<section>
	<div class="section1">
		<div class="main">
			<img src="/img/theme_FE.jpg">
		</div>
		<div class="region_box">
			<ul>
				<li>전체(21)</li>
				<li>경기(12)</li>
				<li>인천(0)</li>
				<li>강원(0)</li>
				<li>충청(0)</li>
				<li>전라(2)</li>
				<li>경상(7)</li>
				<li>제주(0)</li>
			</ul>
		</div>
		<div class="section2">
			<div class="pension_sub">
				<ul>
					<li>
						<a href="/pensioninfo.html">
							<img class="pension_img" src="/img/689153.jpg">
							<img class="box_cover" src="/img/box_cover.png">
						</a>
						<div class="txt_box">
							<p>아라솜펜션</p>
							<p>경상, 통영시</p>
						</div>
						<div class="box_hover">
							<div class="hover_txt">
								<p>[통영시] 아라솜펜션</p>
								<p>경남 통영시 산양읍 항촌길 2-40</p>
							</div>
						</div>
					</li>
					<li>
						<a href="">
							<img class="pension_img" src="/img/382102.jpg">
							<img class="box_cover" src="/img/box_cover.png">
						</a>
						<div class="txt_box">
							<p>노을과바다펜션</p>
							<p>전라, 여수시</p>
						</div>
						<div class="box_hover">
							<div class="hover_txt">
								<p>[여수시] 노을과바다펜션</p>
								<p>전남 여수시 화양면 화서로 173-24</p>
							</div>
						</div>
					</li>
					<li>
						<a href="">
							<img class="pension_img" src="/img/393372.jpg">
							<img class="box_cover" src="/img/box_cover.png">
						</a>
						<div class="txt_box">
							<p>해들채펜션</p>
							<p>전라, 여수시</p>
						</div>
						<div class="box_hover">
							<div class="hover_txt">
								<p>[여수시] 해들채펜션</p>
								<p>전남 여수시 망양로 38 (덕충동)</p>
							</div>
						</div>
					</li>
					<li>
						<a href="">
							<img class="pension_img" src="/img/967222.jpg">
							<img class="box_cover" src="/img/box_cover.png">
						</a>
						<div class="txt_box">
							<p>멜로디펜션</p>
							<p>경상, 남해군</p>
						</div>
					</li>
					<li>
						<a href="">
							<img class="pension_img" src="/img/885456.jpg">
							<img class="box_cover" src="/img/box_cover.png">
						</a>
						<div class="txt_box">
							<p>비포선셋펜션</p>
							<p>충청, 태안군</p>
						</div>
					</li>
					<li>
						<a href="">
							<img class="pension_img" src="/img/687052.jpg">
							<img class="box_cover" src="/img/box_cover.png">
						</a>
						<div class="txt_box">
							<p>류앤리펜션</p>
							<p>경상, 남해군</p>
						</div>
					</li>
					<li>
						<a href="">
							<img class="pension_img" src="/img/631627.jpg">
							<img class="box_cover" src="/img/box_cover.png">
						</a>
						<div class="txt_box">
							<p>상상속의펜션</p>
							<p>경상, 남해군</p>
						</div>
					</li>
					<li>
						<a href="">
							<img class="pension_img" src="/img/838415.jpg">
							<img class="box_cover" src="/img/box_cover.png">
						</a>
						<div class="txt_box">
							<p>유엔아이펜션</p>
							<p>경상, 거제시</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

</section>
{{> footer jsName='themesubfe'}}
