<footer>
    <div class="footer_in">
        <div class="logo">
            <img src="/img/logo_pension.png">
        </div>
        <div class="txt">
            <p>(주)펜션픽 | 사업자등록번호: 000-86-00000 | 통신판매신고번호: 2016-서울마포-00000 | 주소: 서울시 마포구 백범로 23<br>
                대표자: 노상민 | 전화: 372-9029 | 메일: smnoh74@pensionpick.co.kr<br>
                <span>Copyright 2017 Pensionpick Corp. All rights reserved.</span>
            </p>
        </div>
        <div class="sns">
            <a href="#"><img src="/img/sns1.png"></a>
            <a href="#"><img src="/img/sns2.png"></a>
            <a href="#"><img src="/img/sns3.png"></a>
        </div>
        <select name="family_site" onchange="(this.value!='')?window.open(this.value):'';">
            <option value="">FamilySite</option>
            <option value="http://gp.danawaps.com">가평</option>
            <option value="http://www.ghjjang.com">강화</option>
            <option value="http://www.ypjjang.com">양평</option>
            <option value="http://dy.danawaps.com">단양</option>
            <option value="http://gju.danawaps.com">경주</option>
            <option value="http://gje.danawaps.com">거제</option>
            <option value="http://ty.danawaps.com">통영</option>
            <option value="http://nh.danawaps.com">남해</option>
            <option value="http://ys.danawaps.com">여수</option>
            <option value="http://mj.danawaps.com">무주</option>
            <option value="http://amd.danawaps.com">안면도</option>
        </select>
    </div>
    <div class="cover">
        <img src="/img/pattern.png">
    </div>
</footer>

<script src="plugins/requirejs/require.min.js"></script>
<script src="js/require.config.js"></script>
<script src="js/main.js"></script>
<script src="js/{{jsName}}.js"></script>
</body>
</html>
